In [0]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sb

In [4]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
#reading the train and test data
train=pd.read_csv('gdrive/My Drive/titanic/train.csv')
test=pd.read_csv('gdrive/My Drive/titanic/test.csv')

In [8]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [9]:
train.shape

(891, 12)

In [10]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [12]:
test.shape

(418, 11)

In [13]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [16]:
train.describe()#gives information about numerical features

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [17]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [18]:
test.describe(include=['O'])

                                Name   Sex    Ticket            Cabin Embarked
count                            418   418       418               91      418
unique                           418     2       363               76        3
top     Ilmakangas, Miss. Ida Livija  male  PC 17608  B57 B59 B63 B66        S
freq                               1   266         5                3      270

In [19]:
train.describe(include=['O'])

                  Name   Sex  Ticket        Cabin Embarked
count              891   891     891          204      889
unique             891     2     681          147        3
top     Lang, Mr. Fang  male  347082  C23 C25 C27        S
freq                 1   577       7            4      644

#each name is unique. So, name feature is not that important. Same with passenger id

In [20]:
train['Cabin'].isna().sum()

687

In [21]:
train['Cabin'].value_counts()

C23 C25 C27    4
G6             4
B96 B98        4
C22 C26        3
F2             3
              ..
D48            1
C87            1
A5             1
E68            1
D7             1
Name: Cabin, Length: 147, dtype: int64

In [22]:
train[['Pclass','Survived']].groupby(['Pclass'],as_index=False).mean().sort_values(by='Survived',ascending=False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [0]:
#1st class passenger have most chance of survival

In [24]:
train[['SibSp','Survived']].groupby(['SibSp'],as_index=False).mean().sort_values(by='Survived',ascending=False)

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [25]:
train[['Parch','Survived']].groupby(['Parch'],as_index=False).mean().sort_values(by='Survived',ascending=False)

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000

In [0]:
#no correlation with surivived and sibbilngs or parents
#so add both coulmns

In [0]:
train['family_mem']=train['SibSp']+train['Parch']

In [0]:
test['family_mem']=test['SibSp']+test['Parch']

In [8]:
train['family_mem'].head()

0    1
1    1
2    0
3    1
4    0
Name: family_mem, dtype: int64

In [9]:
train.head()

   PassengerId  Survived  Pclass  ... Cabin Embarked  family_mem
0            1         0       3  ...   NaN        S           1
1            2         1       1  ...   C85        C           1
2            3         1       3  ...   NaN        S           0
3            4         1       1  ...  C123        S           1
4            5         0       3  ...   NaN        S           0

[5 rows x 13 columns]

In [31]:
train[['family_mem','Survived']].groupby(['family_mem'],as_index=False).mean().sort_values(by='Survived',ascending=False)

   family_mem  Survived
3           3  0.724138
2           2  0.578431
1           1  0.552795
6           6  0.333333
0           0  0.303538
4           4  0.200000
5           5  0.136364
7           7  0.000000
8          10  0.000000

In [0]:
#add a new feature single or not

In [0]:
train['single']=0

In [11]:
train['single'].value_counts()

0    891
Name: single, dtype: int64

In [0]:
train.loc[train['family_mem']==0,'single']=1

In [13]:
train['single'].value_counts()

1    537
0    354
Name: single, dtype: int64

In [14]:
test['single']=0
test.loc[train['family_mem']==0,'single']=1
test['single'].value_counts()

1    241
0    177
Name: single, dtype: int64

In [15]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'family_mem', 'single'],
      dtype='object')

In [39]:
train[['single','Survived']].groupby(['single'],as_index=False).mean().sort_values(by='Survived',ascending=False)

   single  Survived
0       0  0.505650
1       1  0.303538

In [16]:
train['single'].isna().sum()

0

In [0]:
#non-singles has higher survival rate

In [0]:
train['age_group']=pd.cut(train['Age'],5)

In [18]:
train[['age_group','Survived']].groupby(['age_group'],as_index=False).mean()#.sort_values(by='Survived',ascending=False)

          age_group  Survived
0    (0.34, 16.336]  0.550000
1  (16.336, 32.252]  0.369942
2  (32.252, 48.168]  0.404255
3  (48.168, 64.084]  0.434783
4    (64.084, 80.0]  0.090909

In [0]:
train.loc[ train['Age'] <= 16, 'Age'] = 0
train.loc[(train['Age'] > 16) & (train['Age'] <= 32), 'Age'] = 1
train.loc[(train['Age'] > 32) & (train['Age'] <= 48), 'Age'] = 2
train.loc[(train['Age'] > 48) & (train['Age'] <= 64), 'Age'] = 3
train.loc[ train['Age'] > 64, 'Age']=4

In [20]:
train['Age'].value_counts()

1.0    346
2.0    188
0.0    100
3.0     69
4.0     11
Name: Age, dtype: int64

In [46]:
train[['Age','Survived']].groupby(['Age'],as_index=False).mean().sort_values(by='Survived',ascending=False)

   Age  Survived
0  0.0  0.550000
3  3.0  0.434783
2  2.0  0.404255
1  1.0  0.369942
4  4.0  0.090909

In [47]:
train.head()

   PassengerId  Survived  Pclass  ... family_mem single         age_group
0            1         0       3  ...          1      0  (16.336, 32.252]
1            2         1       1  ...          1      0  (32.252, 48.168]
2            3         1       3  ...          0      1  (16.336, 32.252]
3            4         1       1  ...          1      0  (32.252, 48.168]
4            5         0       3  ...          0      1  (32.252, 48.168]

[5 rows x 15 columns]

In [21]:
test.loc[ test['Age'] <= 16, 'Age'] = 0
test.loc[(test['Age'] > 16) & (test['Age'] <= 32), 'Age'] = 1
test.loc[(test['Age'] > 32) & (test['Age'] <= 48), 'Age'] = 2
test.loc[(test['Age'] > 48) & (test['Age'] <= 64), 'Age'] = 3
test.loc[ test['Age'] > 64, 'Age']=4

test['Age'].value_counts()

1.0    178
2.0     81
3.0     37
0.0     34
4.0      2
Name: Age, dtype: int64

In [22]:
train['Age'].isna().sum()

177

In [50]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'family_mem', 'single',
       'age_group'],
      dtype='object')

In [23]:
train['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [24]:
train['Fare'].isna().sum()

0

In [0]:
train['Fare_group']=pd.cut(train['Fare'],3)

In [26]:
train[['Fare_group','Survived']].groupby(['Fare_group'],as_index=False).mean().sort_values(by='Survived',ascending=False)

           Fare_group  Survived
2  (341.553, 512.329]  1.000000
1  (170.776, 341.553]  0.647059
0   (-0.512, 170.776]  0.376579

In [27]:
train['Fare_group'].value_counts()

(-0.512, 170.776]     871
(170.776, 341.553]     17
(341.553, 512.329]      3
Name: Fare_group, dtype: int64

In [28]:
train.loc[train['Fare']<=170.776,'Fare']=1
train.loc[(train['Fare']>170.776) & (train['Fare']<=341.553),'Fare']=2
train.loc[(train['Fare']>341.553) & (train['Fare']<=513),'Fare']=3
train.head()

   PassengerId  Survived  Pclass  ... single         age_group         Fare_group
0            1         0       3  ...      0  (16.336, 32.252]  (-0.512, 170.776]
1            2         1       1  ...      0  (32.252, 48.168]  (-0.512, 170.776]
2            3         1       3  ...      1  (16.336, 32.252]  (-0.512, 170.776]
3            4         1       1  ...      0  (32.252, 48.168]  (-0.512, 170.776]
4            5         0       3  ...      1  (32.252, 48.168]  (-0.512, 170.776]

[5 rows x 16 columns]

In [29]:
test.loc[test['Fare']<=170.776,'Fare']=1
test.loc[(test['Fare']>170.776) & (test['Fare']<=341.553),'Fare']=2
test.loc[(test['Fare']>341.553) & (test['Fare']<=513),'Fare']=3
test.tail()

     PassengerId  Pclass  ... family_mem single
413         1305       3  ...          0      1
414         1306       1  ...          0      1
415         1307       3  ...          0      1
416         1308       3  ...          0      0
417         1309       3  ...          2      0

[5 rows x 13 columns]

In [30]:
train['Embarked'].isna().sum()

2

In [31]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [32]:
train['Embarked']=train['Embarked'].map({'Q':0,'C':1,'S':2})
train.head()

   PassengerId  Survived  Pclass  ... single         age_group         Fare_group
0            1         0       3  ...      0  (16.336, 32.252]  (-0.512, 170.776]
1            2         1       1  ...      0  (32.252, 48.168]  (-0.512, 170.776]
2            3         1       3  ...      1  (16.336, 32.252]  (-0.512, 170.776]
3            4         1       1  ...      0  (32.252, 48.168]  (-0.512, 170.776]
4            5         0       3  ...      1  (32.252, 48.168]  (-0.512, 170.776]

[5 rows x 16 columns]

In [33]:
test['Embarked']=test['Embarked'].map({'Q':0,'C':1,'S':2})
test.head()

   PassengerId  Pclass  ... family_mem single
0          892       3  ...          0      0
1          893       3  ...          1      0
2          894       2  ...          0      1
3          895       3  ...          0      0
4          896       3  ...          2      1

[5 rows x 13 columns]

In [34]:
test['Embarked'].isna().sum()

0

In [35]:
test['Age'].isna().sum()

86

In [64]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null int64
family_mem     418 non-null int64
single         418 non-null int64
dtypes: float64(2), int64(7), object(4)
memory usage: 42.6+ KB

In [65]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null float64
family_mem     891 non-null int64
single         891 non-null int64
age_group      714 non-null category
Fare_group     891 non-null category
dtypes: category(2), float64(3), int64(7), object(4)
memory usage: 99.7+ KB

In [36]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [37]:
test['Sex']=test['Sex'].map({'male':0,'female':1})
test.head()

   PassengerId  Pclass  ... family_mem  single
0          892       3  ...          0       0
1          893       3  ...          1       0
2          894       2  ...          0       1
3          895       3  ...          0       0
4          896       3  ...          2       1

[5 rows x 13 columns]

In [38]:
train['Sex']=train['Sex'].map({'male':0,'female':1})
train.head()

   PassengerId  Survived  Pclass  ... single         age_group         Fare_group
0            1         0       3  ...      0  (16.336, 32.252]  (-0.512, 170.776]
1            2         1       1  ...      0  (32.252, 48.168]  (-0.512, 170.776]
2            3         1       3  ...      1  (16.336, 32.252]  (-0.512, 170.776]
3            4         1       1  ...      0  (32.252, 48.168]  (-0.512, 170.776]
4            5         0       3  ...      1  (32.252, 48.168]  (-0.512, 170.776]

[5 rows x 16 columns]

In [0]:
#filling null values

In [0]:
#filling age

In [39]:
com_age=train['Age'].dropna().mode()[0]
com_age

1.0

In [40]:
train['Age'].value_counts()

1.0    346
2.0    188
0.0    100
3.0     69
4.0     11
Name: Age, dtype: int64

In [0]:
train['Age']=train['Age'].fillna(com_age)

In [74]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null float64
family_mem     891 non-null int64
single         891 non-null int64
age_group      714 non-null category
Fare_group     891 non-null category
dtypes: category(2), float64(3), int64(8), object(3)
memory usage: 99.7+ KB

In [42]:
test['Age']=test['Age'].fillna(com_age)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null int64
family_mem     418 non-null int64
single         418 non-null int64
dtypes: float64(2), int64(8), object(3)
memory usage: 42.6+ KB

In [0]:
#filling embarked

In [0]:
com_em=train['Embarked'].dropna().mode()[0]
train['Embarked']=train['Embarked'].fillna(com_em)

In [44]:
test['Embarked']=test['Embarked'].fillna(com_em)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null float64
family_mem     891 non-null int64
single         891 non-null int64
age_group      714 non-null category
Fare_group     891 non-null category
dtypes: category(2), float64(3), int64(8), object(3)
memory usage: 99.7+ KB

In [79]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null int64
family_mem     418 non-null int64
single         418 non-null int64
dtypes: float64(2), int64(8), object(3)
memory usage: 42.6+ KB

In [0]:
com=train['Fare'].dropna().mode()[0]
train['Fare']=train['Fare'].fillna(com)
test['Fare']=test['Fare'].fillna(com)

In [81]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null float64
family_mem     891 non-null int64
single         891 non-null int64
age_group      714 non-null category
Fare_group     891 non-null category
dtypes: category(2), float64(3), int64(8), object(3)
memory usage: 99.7+ KB

In [82]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           418 non-null float64
Cabin          91 non-null object
Embarked       418 non-null int64
family_mem     418 non-null int64
single         418 non-null int64
dtypes: float64(2), int64(8), object(3)
memory usage: 42.6+ KB

In [46]:
train.shape

(891, 16)

In [84]:
test.shape

(418, 13)

In [85]:
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [0]:
#need to drop some columns

In [0]:
#dropping passenger id,cabin, natme,SibSp,Parch,age_group,Fare_group

In [47]:
x_train=train.drop(['PassengerId','age_group','Fare_group','Survived','Cabin','SibSp','Parch','Name','Ticket'],axis=1)
x_train.head()

   Pclass  Sex  Age  Fare  Embarked  family_mem  single
0       3    0  1.0   1.0       2.0           1       0
1       1    1  2.0   1.0       1.0           1       0
2       3    1  1.0   1.0       2.0           0       1
3       1    1  2.0   1.0       2.0           1       0
4       3    0  2.0   1.0       2.0           0       1

In [48]:
y_train=train['Survived']
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [49]:
x_test=test.drop(['PassengerId','Cabin','SibSp','Parch','Name','Ticket'],axis=1)
x_test.head()

   Pclass  Sex  Age  Fare  Embarked  family_mem  single
0       3    0  2.0   1.0         0           0       0
1       3    1  2.0   1.0         2           1       0
2       2    0  3.0   1.0         0           0       1
3       3    0  1.0   1.0         2           0       0
4       3    1  1.0   1.0         2           2       1

In [50]:
x_train.shape, y_train.shape, x_test.shape

((891, 7), (891,), (418, 7))

In [51]:
(x_train.corr('spearman'))

              Pclass       Sex       Age  ...  Embarked  family_mem    single
Pclass      1.000000 -0.135775 -0.348396  ...  0.004962   -0.075698  0.135896
Sex        -0.135775  1.000000 -0.060247  ... -0.120400    0.292035 -0.303646
Age        -0.348396 -0.060247  1.000000  ...  0.055191   -0.179675  0.125752
Fare       -0.220975  0.078247  0.037335  ... -0.092095    0.083856 -0.077918
Embarked    0.004962 -0.120400  0.055191  ...  1.000000    0.020141  0.011471
family_mem -0.075698  0.292035 -0.179675  ...  0.020141    1.000000 -0.963624
single      0.135896 -0.303646  0.125752  ...  0.011471   -0.963624  1.000000

[7 rows x 7 columns]

In [93]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Pclass        891 non-null int64
Sex           891 non-null int64
Age           891 non-null float64
Fare          891 non-null float64
Embarked      891 non-null float64
family_mem    891 non-null int64
single        891 non-null int64
dtypes: float64(3), int64(4)
memory usage: 48.9 KB

In [52]:
x_train.describe()

           Pclass         Sex         Age  ...    Embarked  family_mem      single
count  891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean     2.308642    0.352413    1.290685  ...    1.638608    0.904602    0.602694
std      0.836071    0.477990    0.812620  ...    0.635673    1.613459    0.489615
min      1.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      2.000000    0.000000    1.000000  ...    1.000000    0.000000    0.000000
50%      3.000000    0.000000    1.000000  ...    2.000000    0.000000    1.000000
75%      3.000000    1.000000    2.000000  ...    2.000000    1.000000    1.000000
max      3.000000    1.000000    4.000000  ...    2.000000   10.000000    1.000000

[8 rows x 7 columns]

In [95]:
x_test.describe()

           Pclass         Sex         Age  ...    Embarked  family_mem      single
count  418.000000  418.000000  418.000000  ...  418.000000  418.000000  418.000000
mean     2.265550    0.363636    1.303828  ...    1.535885    0.839713    0.576555
std      0.841838    0.481622    0.762449  ...    0.685516    1.519072    0.494697
min      1.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      1.000000    0.000000    1.000000  ...    1.000000    0.000000    0.000000
50%      3.000000    0.000000    1.000000  ...    2.000000    0.000000    1.000000
75%      3.000000    1.000000    2.000000  ...    2.000000    1.000000    1.000000
max      3.000000    1.000000    4.000000  ...    2.000000   10.000000    1.000000

[8 rows x 7 columns]

model training

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, BaggingClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import feature_selection
import xgboost as xgb # XGBOOST
from xgboost.sklearn import XGBClassifier # XGBOOST
import lightgbm as lgb # Light GBM
import statsmodels.api as sm # Logistic Regression with StatModels


# Evalaluation
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix, roc_curve, auc, accuracy_score

# Grid
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import RFE
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
import scipy.stats as st






# Warnings
import warnings
warnings.filterwarnings(action='ignore')
warnings.filterwarnings(action='ignore', category=DeprecationWarning)
warnings.filterwarnings(action='ignore', category=FutureWarning)

modeling

logistic regression

In [97]:
%time
param_dist={'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000] ,
            'penalty':['l1','l2']}
clf=LogisticRegression( class_weight='balanced', random_state=9,n_jobs=-1)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 6.91 µs
mean test scores [0.61616162 0.74074074 0.78675645 0.77665544 0.78338945 0.77553311
 0.77890011 0.77890011 0.78226712 0.78226712 0.78114478 0.78114478
 0.78114478 0.78114478]
mean train scores [0.61616172 0.74198951 0.78675574 0.78176665 0.78500979 0.7845115
 0.78339102 0.78276664 0.78463821 0.78451337 0.78526165 0.78451352
 0.78526165 0.78526165]

In [98]:
rf_random.best_estimator_

LogisticRegression(C=0.01, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=-1, penalty='l1',
                   random_state=9, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
clf=LogisticRegression(C=0.01, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=-1, penalty='l1',
                   random_state=9, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)
clf.fit(x_train,y_train)
y_train_predict=clf.predict(x_train)

In [0]:
logistic_score=accuracy_score(y_train,y_train_predict)

In [67]:
print('accuracy score of train data is',accuracy_score(y_train,y_train_predict))

accuracy score of train data is 0.7867564534231201

svm

In [102]:
param_dist={'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000] ,
            'gamma':['scale','auto'],
           
            'kernel':['rbf','poly','linear','sigmoid']}
clf=SVC( class_weight='balanced',  random_state=9)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

KeyboardInterrupt: ignored

In [0]:
rf_random.best_estimator_

In [68]:
clf=SVC(C=1, cache_size=200, class_weight='balanced', coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=9, shrinking=True, tol=0.001,
    verbose=False)
clf.fit(x_train,y_train)
y_train_predict=clf.predict(x_train)
svc_score=accuracy_score(y_train,y_train_predict)
print('accuracy score of train data is',svc_score)

accuracy score of train data is 0.8294051627384961

linear SVC

In [0]:
%time
param_dist={'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000] ,
            }
clf=LinearSVC( penalty='l2',loss='squared_hinge', class_weight='balanced', verbose=0, random_state=9)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

In [0]:
rf_random.best_estimator_

In [69]:
clf=LinearSVC(C=0.01, class_weight='balanced', dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=9, tol=0.0001,
          verbose=0)
clf.fit(x_train,y_train)
y_train_predict=clf.predict(x_train)
linear_svc_score=accuracy_score(y_train,y_train_predict)
print('accuracy score of train data is',linear_svc_score)

accuracy score of train data is 0.7934904601571269

Random forest

In [0]:
param_dist={'n_estimators': [3,5,10,20,40,60,90,120,170,250,450] ,
            'max_depth':[3,5,7,9,15,20,25]
            }
clf=RandomForestClassifier( criterion='gini', min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=-1, random_state=99,
                           verbose=0, warm_start=False, class_weight='balanced')
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

In [0]:
rf_random.best_estimator_

In [71]:
clf=RandomForestClassifier(bootstrap=True, class_weight='balanced',
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=450, n_jobs=-1, oob_score=False,
                       random_state=99, verbose=0, warm_start=False)
clf.fit(x_train,y_train)
y_train_predict=clf.predict(x_train)
RandFor_score=accuracy_score(y_train,y_train_predict)
print('accuracy score of train data is',RandFor_score)

accuracy score of train data is 0.8372615039281706

Gradient boosting

In [0]:
%time
param_dist={'n_estimators': [3,5,10,20,40,60,90,120,170,250,450] ,
            'max_depth':[3,5,7,9,15,20,25],
            'learning_rate':[0.001,0.01,0.1,0.2,0.3,1,10],
            'subsample':[0.6,0.8,1]
            }
clf=GradientBoostingClassifier(loss='deviance', criterion='friedman_mse', min_samples_split=2,
                               min_samples_leaf=1, min_weight_fraction_leaf=0.0, min_impurity_decrease=0.0, min_impurity_split=None,
                                random_state=9)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

In [0]:
rf_random.best_estimator_

In [0]:
%time
param_dist={'n_estimators': [270,300,350,400,450]        
            
            }
clf=GradientBoostingClassifier(loss='deviance', criterion='friedman_mse', min_samples_split=2,
                               min_samples_leaf=1, min_weight_fraction_leaf=0.0, min_impurity_decrease=0.0, min_impurity_split=None,
                                random_state=9,subsample=1,learning_rate=0.01,max_depth=3)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

In [0]:
rf_random.best_estimator_

In [0]:
param_dist={'max_depth': [3,5,7,9,12]        
            
            }
clf=GradientBoostingClassifier(loss='deviance', criterion='friedman_mse', min_samples_split=2,
                               min_samples_leaf=1, min_weight_fraction_leaf=0.0, min_impurity_decrease=0.0, min_impurity_split=None,
                                random_state=9,subsample=1,learning_rate=0.01,n_estimators=400)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

In [0]:
rf_random.best_estimator_

In [70]:
Grad_boost_model=GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.01, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=400,
                           n_iter_no_change=None, presort='auto',
                           random_state=9, subsample=1, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)
Grad_boost_model.fit(x_train,y_train)
y_train_predict=Grad_boost_model.predict(x_train)
Grad_boost_model_score=accuracy_score(y_train,y_train_predict)
print('accuracy score of train data is',Grad_boost_model_score)

accuracy score of train data is 0.8361391694725028

XGBoost

In [0]:
XGBClassifier(max_depth=3, learning_rate=0.1, n_estimators=100, verbosity=1, objective='binary:logistic', booster='gbtree', tree_method='auto', n_jobs=1, gpu_id=-1, gamma=0,
              min_child_weight=1, max_delta_step=0, subsample=1, colsample_bytree=1, colsample_bylevel=1, colsample_bynode=1, reg_alpha=0, 
              reg_lambda=1, scale_pos_weight=1, base_score=0.5, random_state=0, missing=None, **kwargs)

In [0]:

param_dist={'n_estimators': [3,10,60,150,250,450] ,
            'max_depth':[3,5,7,9,15,20],
            'learning_rate':[0.001,0.01,0.1,0.2,0.3,1,10],
            }
clf=XGBClassifier(objective='binary:logistic', booster='gbtree', tree_method='auto', n_jobs=-1, gamma=0,
              min_child_weight=1, max_delta_step=0, subsample=1, colsample_bytree=1, colsample_bylevel=1, colsample_bynode=1, reg_alpha=0, 
              reg_lambda=1, scale_pos_weight=1, base_score=0.5, random_state=9)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

In [0]:
rf_random.best_estimator_

In [0]:
param_dist={'n_estimators': [5,10,20,40,55] ,
            'max_depth':[3,5,7],
            
            }
clf=XGBClassifier(objective='binary:logistic', booster='gbtree', tree_method='auto', n_jobs=-1, gamma=0,learning_rate=0.2,
              min_child_weight=1, max_delta_step=0, subsample=1, colsample_bytree=1, colsample_bylevel=1, colsample_bynode=1, reg_alpha=0, 
              reg_lambda=1, scale_pos_weight=1, base_score=0.5, random_state=9)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

In [0]:
rf_random.best_estimator_

In [0]:
param_dist={'subsample': [0.6,0.8,1] ,
            'colsample_bytree':[0.6,0.8,1],

            
            }
clf=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1,  gamma=0,
              learning_rate=0.2, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=10, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=9,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None,  tree_method='auto', verbosity=1)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

In [0]:
rf_random.best_estimator_

In [0]:
param_dist={'booster': ['gbtree','gblinear','dart'] ,
            'gamma':[0.1,0,1],

            
            }
clf=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, 
              learning_rate=0.2, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=10, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=9,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, tree_method='auto', verbosity=1)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

In [0]:
rf_random.best_estimator_

In [72]:
xg_boost_model=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.2, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=10, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=9,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, tree_method='auto', verbosity=1)
xg_boost_model.fit(x_train,y_train)
y_train_predict=xg_boost_model.predict(x_train)
xg_boost_model_score=accuracy_score(y_train,y_train_predict)
print('accuracy score of train data is',xg_boost_model_score)

accuracy score of train data is 0.8361391694725028

Decision trees

In [0]:
param_dist={'criterion': ['gini','entropy'] ,
            'splitter':['best','random'],
            'class_weight':['balanced']

            
            }
clf=DecisionTreeClassifier( max_depth=None, min_samples_split=2,
                           min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, 
                           max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

In [0]:
rf_random.best_estimator_

In [73]:
DT_model=DecisionTreeClassifier(class_weight='balanced', criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='random')
DT_model.fit(x_train,y_train)
y_train_predict=DT_model.predict(x_train)
DT_model_score=accuracy_score(y_train,y_train_predict)
print('accuracy score of train data is',DT_model_score)

accuracy score of train data is 0.8462401795735129

Lightgbm

In [0]:
from lightgbm import LGBMClassifier

In [55]:
param_dist={'n_estimators': [3,10,60,150,250,450] ,
            'max_depth':[3,5,7,9,15,20],
            'learning_rate':[0.001,0.01,0.1,1,10],


            }
clf=LGBMClassifier(boosting_type='gbdt', num_leaves=31,   class_weight='balanced', min_split_gain=0.0,
                   min_child_weight=0.001, min_child_samples=20, subsample=1.0, subsample_freq=0, colsample_bytree=1.0,
                   random_state=9, n_jobs=-1, silent=True, importance_type='split')
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

mean test scores [0.77665544 0.77665544 0.77665544 0.77665544 0.77665544 0.77665544
 0.79573513 0.79573513 0.79573513 0.79573513 0.79573513 0.79349046
 0.79573513 0.79573513 0.79573513 0.79573513 0.79573513 0.79349046
 0.79573513 0.79573513 0.79573513 0.79573513 0.79573513 0.79349046
 0.79573513 0.79573513 0.79573513 0.79573513 0.79573513 0.79349046
 0.79573513 0.79573513 0.79573513 0.79573513 0.79573513 0.79349046
 0.77665544 0.77665544 0.77665544 0.80583614 0.81257015 0.80583614
 0.79573513 0.79573513 0.79685746 0.80920314 0.80359147 0.79685746
 0.79573513 0.79573513 0.79685746 0.80695847 0.79910213 0.79685746
 0.79573513 0.79573513 0.79685746 0.80695847 0.80022447 0.79685746
 0.79573513 0.79573513 0.79685746 0.80695847 0.80022447 0.79685746
 0.79573513 0.79573513 0.79685746 0.80695847 0.80022447 0.79685746
 0.77665544 0.8013468  0.79910213 0.79461279 0.79349046 0.79236813
 0.79573513 0.80808081 0.79349046 0.79124579 0.79349046 0.79573513
 0.79573513 0.80808081 0.79573513 0.79685746 0.79685746 0.79685746
 0.79573513 0.80808081 0.80022447 0.7979798  0.79685746 0.79685746
 0.79573513 0.80808081 0.79461279 0.79573513 0.80022447 0.79573513
 0.79573513 0.80808081 0.79461279 0.79573513 0.80022447 0.79573513
 0.80359147 0.79910213 0.79236813 0.79573513 0.79573513 0.79461279
 0.8013468  0.79461279 0.79236813 0.79124579 0.79236813 0.79124579
 0.79573513 0.79461279 0.79012346 0.79124579 0.79012346 0.79012346
 0.79349046 0.79685746 0.79124579 0.79236813 0.79236813 0.79124579
 0.79349046 0.79685746 0.79573513 0.79124579 0.79124579 0.79124579
 0.79349046 0.79685746 0.79573513 0.79124579 0.79124579 0.79124579
 0.38159371 0.38159371 0.38159371 0.38159371 0.38159371 0.38159371
 0.31313131 0.31088664 0.31088664 0.31088664 0.31088664 0.31088664
 0.31537598 0.35353535 0.35353535 0.35353535 0.35353535 0.35353535
 0.31537598 0.35353535 0.35353535 0.35353535 0.35353535 0.35353535
 0.31537598 0.35353535 0.35353535 0.35353535 0.35353535 0.35353535
 0.31537598 0.35353535 0.35353535 0.35353535 0.35353535 0.35353535]
mean train scores [0.78825324 0.78825324 0.78825324 0.78825324 0.78825324 0.78825324
 0.81044994 0.81044994 0.81044994 0.81044994 0.81044994 0.81069932
 0.81044994 0.81044994 0.81044994 0.81044994 0.81044994 0.81069932
 0.81044994 0.81044994 0.81044994 0.81044994 0.81044994 0.81069932
 0.81044994 0.81044994 0.81044994 0.81044994 0.81044994 0.81069932
 0.81044994 0.81044994 0.81044994 0.81044994 0.81044994 0.81069932
 0.78825324 0.78825324 0.78950012 0.8206764  0.82316939 0.8219222
 0.81044994 0.81044994 0.80970181 0.81606185 0.81905577 0.82030094
 0.81044994 0.81044994 0.80970181 0.81643591 0.81880484 0.82304346
 0.81044994 0.81044994 0.80970181 0.81643591 0.81967812 0.82366643
 0.81044994 0.81044994 0.80970181 0.81643591 0.81967812 0.82428988
 0.81044994 0.81044994 0.80970181 0.81643591 0.81967812 0.82428988
 0.78825324 0.81843108 0.8208     0.82204673 0.82454159 0.82853161
 0.81044994 0.81469028 0.82217157 0.83202258 0.83713558 0.84012872
 0.81044994 0.81469028 0.82591145 0.83701104 0.84012903 0.84337139
 0.81044994 0.81469028 0.82616176 0.83838355 0.8415006  0.84262342
 0.81044994 0.81469028 0.82553692 0.83788448 0.84175013 0.84274811
 0.81044994 0.81469028 0.82553692 0.83788448 0.84175013 0.84274811
 0.81518498 0.82005374 0.82990318 0.83850715 0.84050232 0.84349499
 0.81768326 0.83139851 0.84374577 0.84436983 0.84486921 0.84486921
 0.82054938 0.83364446 0.84474343 0.84486921 0.84486921 0.84486921
 0.81992594 0.8333943  0.84486905 0.84486921 0.84486921 0.84486921
 0.81992594 0.83364399 0.84486827 0.84486921 0.84486921 0.84486921
 0.81992594 0.83364399 0.84486827 0.84486921 0.84486921 0.84486921
 0.36885618 0.36885618 0.36885618 0.36885618 0.36885618 0.36885618
 0.32867833 0.33179943 0.33179943 0.33179943 0.33179943 0.33179943
 0.31232783 0.3477393  0.3477393  0.3477393  0.3477393  0.3477393
 0.31320065 0.34861212 0.34861212 0.34861212 0.34861212 0.34861212
 0.31320065 0.34861212 0.34861212 0.34861212 0.34861212 0.34861212
 0.31320065 0.34861212 0.34861212 0.34861212 0.34861212 0.34861212]

In [56]:
rf_random.best_estimator_

LGBMClassifier(boosting_type='gbdt', class_weight='balanced',
               colsample_bytree=1.0, importance_type='split',
               learning_rate=0.01, max_depth=3, min_child_samples=20,
               min_child_weight=0.001, min_split_gain=0.0, n_estimators=250,
               n_jobs=-1, num_leaves=31, objective=None, random_state=9,
               reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0)

In [0]:
            'subsample': [0.6,0.8,1],
            'colsample_bytree': [0.6,0.8,1],
            'reg_alpha': [0.01,0.1,0,1,10],
            'reg_lambda': [0.01,0.1,0,1,10],

In [57]:
param_dist={'subsample': [0.6,0.8,1],
            'colsample_bytree': [0.6,0.8,1],
            'reg_alpha': [0.01,0.1,0,1,10],
            'reg_lambda': [0.01,0.1,0,1,10]


            }
clf=LGBMClassifier(boosting_type='gbdt', class_weight='balanced',
               importance_type='split',
               learning_rate=0.01, max_depth=3, min_child_samples=20,
               min_child_weight=0.001, min_split_gain=0.0, n_estimators=250,
               n_jobs=-1, num_leaves=31, objective=None, random_state=9,
               silent=True, 
               subsample_for_bin=200000, subsample_freq=0)
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

mean test scores [0.80359147 0.80359147 0.80359147 0.80246914 0.80246914 0.80246914
 0.80359147 0.80359147 0.80359147 0.8047138  0.8047138  0.8047138
 0.80246914 0.80246914 0.80246914 0.80246914 0.80246914 0.80246914
 0.80246914 0.80246914 0.80246914 0.80246914 0.80246914 0.80246914
 0.80359147 0.80359147 0.80359147 0.8013468  0.8013468  0.8013468
 0.80359147 0.80359147 0.80359147 0.80246914 0.80246914 0.80246914
 0.80359147 0.80359147 0.80359147 0.8047138  0.8047138  0.8047138
 0.80246914 0.80246914 0.80246914 0.80359147 0.80359147 0.80359147
 0.8047138  0.8047138  0.8047138  0.80359147 0.80359147 0.80359147
 0.8047138  0.8047138  0.8047138  0.8013468  0.8013468  0.8013468
 0.80808081 0.80808081 0.80808081 0.80808081 0.80808081 0.80808081
 0.80808081 0.80808081 0.80808081 0.80808081 0.80808081 0.80808081
 0.80920314 0.80920314 0.80920314 0.79685746 0.79685746 0.79685746
 0.79573513 0.79573513 0.79573513 0.79685746 0.79685746 0.79685746
 0.79910213 0.79910213 0.79910213 0.80695847 0.80695847 0.80695847
 0.79573513 0.79573513 0.79573513 0.79573513 0.79573513 0.79573513
 0.79573513 0.79573513 0.79573513 0.80022447 0.80022447 0.80022447
 0.80695847 0.80695847 0.80695847 0.79685746 0.79685746 0.79685746
 0.79573513 0.79573513 0.79573513 0.79685746 0.79685746 0.79685746
 0.79910213 0.79910213 0.79910213 0.80695847 0.80695847 0.80695847
 0.80583614 0.80583614 0.80583614 0.80583614 0.80583614 0.80583614
 0.80583614 0.80583614 0.80583614 0.80695847 0.80695847 0.80695847
 0.80695847 0.80695847 0.80695847 0.80246914 0.80246914 0.80246914
 0.80246914 0.80246914 0.80246914 0.80246914 0.80246914 0.80246914
 0.80246914 0.80246914 0.80246914 0.80359147 0.80359147 0.80359147
 0.81257015 0.81257015 0.81257015 0.81257015 0.81257015 0.81257015
 0.81257015 0.81257015 0.81257015 0.81144781 0.81144781 0.81144781
 0.80022447 0.80022447 0.80022447 0.81257015 0.81257015 0.81257015
 0.81257015 0.81257015 0.81257015 0.81257015 0.81257015 0.81257015
 0.81144781 0.81144781 0.81144781 0.80022447 0.80022447 0.80022447
 0.81257015 0.81257015 0.81257015 0.81257015 0.81257015 0.81257015
 0.81257015 0.81257015 0.81257015 0.81144781 0.81144781 0.81144781
 0.80022447 0.80022447 0.80022447 0.80695847 0.80695847 0.80695847
 0.80695847 0.80695847 0.80695847 0.80695847 0.80695847 0.80695847
 0.80583614 0.80583614 0.80583614 0.79910213 0.79910213 0.79910213
 0.78114478 0.78114478 0.78114478 0.78002245 0.78002245 0.78002245
 0.78114478 0.78114478 0.78114478 0.77104377 0.77104377 0.77104377
 0.76655443 0.76655443 0.76655443]
mean train scores [0.81668545 0.81668545 0.81668545 0.8165606  0.8165606  0.8165606
 0.81681013 0.81681013 0.81681013 0.81693467 0.81693467 0.81693467
 0.81468997 0.81468997 0.81468997 0.8165606  0.8165606  0.8165606
 0.81680998 0.81680998 0.81680998 0.8165606  0.8165606  0.8165606
 0.81668545 0.81668545 0.81668545 0.81444059 0.81444059 0.81444059
 0.81668545 0.81668545 0.81668545 0.8165606  0.8165606  0.8165606
 0.81668545 0.81668545 0.81668545 0.81705936 0.81705936 0.81705936
 0.81468997 0.81468997 0.81468997 0.81693451 0.81693451 0.81693451
 0.81668498 0.81668498 0.81668498 0.81680982 0.81680982 0.81680982
 0.81680967 0.81680967 0.81680967 0.81256949 0.81256949 0.81256949
 0.8097057  0.8097057  0.8097057  0.8097057  0.8097057  0.8097057
 0.8097057  0.8097057  0.8097057  0.80995492 0.80995492 0.80995492
 0.81070289 0.81070289 0.81070289 0.82092547 0.82092547 0.82092547
 0.81980343 0.81980343 0.81980343 0.8205514  0.8205514  0.8205514
 0.82017734 0.82017734 0.82017734 0.82080078 0.82080078 0.82080078
 0.81980343 0.81980343 0.81980343 0.82017749 0.82017749 0.82017749
 0.81980343 0.81980343 0.81980343 0.81980312 0.81980312 0.81980312
 0.82092547 0.82092547 0.82092547 0.8205514  0.8205514  0.8205514
 0.81967859 0.81967859 0.81967859 0.8205514  0.8205514  0.8205514
 0.82017734 0.82017734 0.82017734 0.82092531 0.82092531 0.82092531
 0.82105031 0.82105031 0.82105031 0.82092563 0.82092563 0.82092563
 0.82105031 0.82105031 0.82105031 0.82130016 0.82130016 0.82130016
 0.82154876 0.82154876 0.82154876 0.81444043 0.81444043 0.81444043
 0.81444043 0.81444043 0.81444043 0.81444043 0.81444043 0.81444043
 0.81469012 0.81469012 0.81469012 0.8180567  0.8180567  0.8180567
 0.82329408 0.82329408 0.82329408 0.82316939 0.82316939 0.82316939
 0.82329408 0.82329408 0.82329408 0.82267064 0.82267064 0.82267064
 0.8198011  0.8198011  0.8198011  0.82316939 0.82316939 0.82316939
 0.82316939 0.82316939 0.82316939 0.82316939 0.82316939 0.82316939
 0.82279533 0.82279533 0.82279533 0.8198011  0.8198011  0.8198011
 0.82316939 0.82316939 0.82316939 0.82316939 0.82316939 0.82316939
 0.82316939 0.82316939 0.82316939 0.82267064 0.82267064 0.82267064
 0.8198011  0.8198011  0.8198011  0.82192267 0.82192267 0.82192267
 0.82192267 0.82192267 0.82192267 0.82192267 0.82192267 0.82192267
 0.82192267 0.82192267 0.82192267 0.81867906 0.81867906 0.81867906
 0.80159924 0.80159924 0.80159924 0.80134956 0.80134956 0.80134956
 0.80159924 0.80159924 0.80159924 0.79374046 0.79374046 0.79374046
 0.78613183 0.78613183 0.78613183]

In [58]:
rf_random.best_estimator_

LGBMClassifier(boosting_type='gbdt', class_weight='balanced',
               colsample_bytree=1, importance_type='split', learning_rate=0.01,
               max_depth=3, min_child_samples=20, min_child_weight=0.001,
               min_split_gain=0.0, n_estimators=250, n_jobs=-1, num_leaves=31,
               objective=None, random_state=9, reg_alpha=0.01, reg_lambda=0.01,
               silent=True, subsample=0.6, subsample_for_bin=200000,
               subsample_freq=0)

In [59]:
param_dist={'n_estimators': [160,200,220,250] ,
            
            'learning_rate':[0.01,0.05,0.07,],


            }
clf=LGBMClassifier(boosting_type='gbdt', num_leaves=31,   class_weight='balanced', min_split_gain=0.0,
                   min_child_weight=0.001, min_child_samples=20, subsample=1.0, subsample_freq=0, colsample_bytree=1.0,
                   random_state=9, n_jobs=-1, silent=True, importance_type='split')
rf_random = GridSearchCV(clf, param_grid=param_dist,
                                   cv=10,scoring='accuracy',return_train_score=True)

rf_random.fit(x_train,y_train)
print('mean test scores',rf_random.cv_results_['mean_test_score'])
print('mean train scores',rf_random.cv_results_['mean_train_score'])

mean test scores [0.8047138  0.8013468  0.8013468  0.80022447 0.79349046 0.79461279
 0.79349046 0.80022447 0.79910213 0.79910213 0.79685746 0.79573513]
mean train scores [0.81668591 0.81843108 0.8188053  0.81967812 0.83164789 0.83476556
 0.8350151  0.83651244 0.83626307 0.83701182 0.83788417 0.83900637]

In [60]:
rf_random.best_estimator_

LGBMClassifier(boosting_type='gbdt', class_weight='balanced',
               colsample_bytree=1.0, importance_type='split',
               learning_rate=0.01, max_depth=-1, min_child_samples=20,
               min_child_weight=0.001, min_split_gain=0.0, n_estimators=160,
               n_jobs=-1, num_leaves=31, objective=None, random_state=9,
               reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0)

In [62]:
lgd_model=LGBMClassifier(boosting_type='gbdt', class_weight='balanced',
               colsample_bytree=1.0, importance_type='split',
               learning_rate=0.01, max_depth=-1, min_child_samples=20,
               min_child_weight=0.001, min_split_gain=0.0, n_estimators=160,
               n_jobs=-1, num_leaves=31, objective=None, random_state=9,
               reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0)
lgd_model.fit(x_train,y_train)
y_train_predict=lgd_model.predict(x_train)
lgd_model_score=accuracy_score(y_train,y_train_predict)
print('accuracy score of train data is',lgd_model_score)

accuracy score of train data is 0.813692480359147

In [83]:
data={'model':['SVM', 'Linear-SVM', 'Logistic Regression', 
              'Random Forest','Decision Tree','XGboost','Lightgbm','Grad_boost'],
       'accuracy':[svc_score, linear_svc_score, logistic_score, 
              RandFor_score,DT_model_score,xg_boost_model_score,lgd_model_score,Grad_boost_model_score]}
compare=pd.DataFrame(data)
compare=compare.sort_values(by='accuracy', ascending=False)
compare

                 model  accuracy
4        Decision Tree  0.846240
3        Random Forest  0.837262
5              XGboost  0.836139
7           Grad_boost  0.836139
0                  SVM  0.829405
6             Lightgbm  0.813692
1           Linear-SVM  0.793490
2  Logistic Regression  0.786756

In [84]:
clf=RandomForestClassifier(bootstrap=True, class_weight='balanced',
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=450, n_jobs=-1, oob_score=False,
                       random_state=99, verbose=0, warm_start=False)
clf.fit(x_train,y_train)
y_train_predict=clf.predict(x_train)
RandFor_score=accuracy_score(y_train,y_train_predict)
print('accuracy score of train data is',RandFor_score)

accuracy score of train data is 0.8372615039281706

In [93]:
y_test_predict=clf.predict(x_test)
y_test_predict

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [95]:

final=pd.DataFrame({'PassengerId':test['PassengerId'],
                    'Survived':y_test_predict})
final.tail()
final.shape

(418, 2)

In [0]:
final.to_csv('submission.csv',index=False)

In [98]:
x=pd.read_csv('submission.csv')
x.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [0]:
from google.colab import files
files.download('submission.csv')

In [100]:
xg_boost_model=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.2, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=10, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=9,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, tree_method='auto', verbosity=1)
xg_boost_model.fit(x_train,y_train)
y_train_predict=xg_boost_model.predict(x_train)
xg_boost_model_score=accuracy_score(y_train,y_train_predict)
print('accuracy score of train data is',xg_boost_model_score)

accuracy score of train data is 0.8361391694725028

In [101]:
y_test_predict_xg=clf.predict(x_test)
y_test_predict_xg

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [102]:
final=pd.DataFrame({'PassengerId':test['PassengerId'],
                    'Survived':y_test_predict_xg})
final.tail()
final.shape

(418, 2)

In [0]:
final.to_csv('submission_xg.csv',index=False)

In [104]:
DT_model=DecisionTreeClassifier(class_weight='balanced', criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='random')
DT_model.fit(x_train,y_train)
y_train_predict=DT_model.predict(x_train)
DT_model_score=accuracy_score(y_train,y_train_predict)
print('accuracy score of train data is',DT_model_score)

accuracy score of train data is 0.8462401795735129

In [105]:
y_test_predict_dt=clf.predict(x_test)
y_test_predict_dt

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [106]:
final=pd.DataFrame({'PassengerId':test['PassengerId'],
                    'Survived':y_test_predict_dt})
final.tail()
final.shape

(418, 2)

In [0]:
final.to_csv('submission_dt.csv',index=False)

In [0]:
from google.colab import files
files.download('submission_dt.csv')
files.download('submission_xg.csv')